$small: 500px;
$medium: 1200px;
$large: 1400px;

@mixin xs() {
  @media only screen and (max-width: $small) {
    @content;
  }
}

@mixin s() {
  @media only screen and (min-width: $small) {
    @content;
  }
}

@mixin m() {
  @media only screen and (min-width: $medium) {
    @content;
  }
}

@mixin l() {
  @media only screen and (min-width: $large) {
    @content;
  }
}