// Color pallete
$primary-dark: #120718;
$primary-light: #ffffff;
$secondary-light: #b299ab;
$blue: #2475a4;
$purple: #be1dfd;
$dark-purple: #9102ca;
$pink: #d92693;

// Color styles
$bg: $primary-dark;
$accent-bg: linear-gradient(to right, $blue, $purple);
$fg: $primary-light;
$secondary-fg: $secondary-light;
$accent: $pink;