@use "./theme";
@use "./responsive";

$font-primary: "Roboto Variable", sans-serif;
$font-secondary: "Russo One", sans-serif;

body {
  color: theme.$fg;
  font-family: $font-primary;
  font-size: 20px;
}

h2,
h3 {
  text-align: center;
}

h1,
h2,
h3,
h4 {
  font-family: $font-secondary;
  font-weight: normal;
}

h1 {
  @include responsive.xs() {
    font-size: 32px;
  }

  @include responsive.s() {
    font-size: 40px;
  }

  @include responsive.m() {
    font-size: 48px;
  }

  @include responsive.l() {
    font-size: 64px;
  }
}

h2 {
  font-size: 48px;
  margin: 32px 0;
}

h3 {
  font-size: 36px;
  margin: 24px 0;
}

h4 {
  font-size: 32px;
  margin: 16px 0;
}

header,
section {
  margin: 0 auto;

  @include responsive.xs() {
    max-width: 440px;
    padding: 0 32px;
  }

  @include responsive.s() {
    max-width: 680px;
    padding: 0 48px;
  }

  @include responsive.m() {
    max-width: 900px;
    padding: 0 64px;
  }

  @include responsive.l() {
    max-width: 1100px;
    padding: 0 64px;
  }
}

section {
  position: relative;
  margin-top: 96px;
}

a[id]:empty {
  position: absolute;
  top: -64px;
}

a,
button {
  color: inherit;
  font-family: $font-primary;
  text-decoration: none;
}

a {
  &:not(:has(> button)):hover {
    opacity: 0.75;
  }

  &:not(:has(*)) {
    // plain text
    font-weight: 600;
  }

  &:not(footer *) {
    font-size: 20px;
  }
}

button {
  height: 2em;
  min-width: 12em;
  box-sizing: border-box;
  border-radius: 64px;
  padding: 0 1.5em;

  color: theme.$fg;
  background-image: linear-gradient(
    to right,
    theme.$blue,
    theme.$purple 33.3%,
    theme.$dark-purple 66.6% 100%
  );
  background-size: 300% 100%;
  border: none;
  font-family: $font-secondary;
  text-align: center;

  cursor: pointer;

  transition: background-position ease-in-out 300ms;

  &:hover {
    background-position: 50% 50%;
  }

  &:active {
    background-position: 100% 50%;
    transition: background-position ease-out 75ms;
  }

  @include responsive.xs() {
    font-size: 26px;
  }

  @include responsive.s() {
    font-size: 28px;
  }

  @include responsive.m() {
    font-size: 30px;
  }

  @include responsive.l() {
    font-size: 32px;
  }
}

table {
  table-layout: fixed;

  td {
    text-align: center;
    padding: 4px 0;
  }

  thead {
    td {
      font-weight: 600;
    }
  }
}

h2::after,
hr {
  border: none;
  border-top: 2px solid;
  border-radius: 2px;
  border-image: linear-gradient(
      to right,
      transparent,
      rgba(theme.$fg, 10%) 10%,
      rgba(theme.$fg, 10%) 90%,
      transparent
    )
    1;
}

h2::after {
  content: "";
  display: block;
  margin-top: 12px;
}

.frame {
  border-radius: 32px;
  padding: 32px;

  background-color: rgba(theme.$bg, 15%);
  box-shadow: inset 8px -8px 32px rgba(theme.$fg, 10%);
  border: solid 2px rgba(theme.$fg, 10%);
  backdrop-filter: blur(2px);
}

.grid {
  $gap: 32px;

  display: grid;
  grid-template-columns: repeat(var(--column-count), minmax(0, 1fr));
  gap: 0 $gap; // 0 vertical gap for subgrid

  margin-bottom: -$gap;

  > * {
    margin-bottom: $gap;
  }

  @include responsive.xs() {
    --column-count: 1;
  }

  @include responsive.s() {
    --column-count: 2;
  }

  @include responsive.m() {
    --column-count: 3;
  }

  @include responsive.l() {
    --column-count: 3;
  }
}
