@use "./theme";

$font-primary: "Roboto Variable", sans-serif;
$font-secondary: "Russo One", sans-serif;

body {
  color: theme.$fg;
  font-family: $font-primary;
  font-size: 20px;
}

h2,
h3 {
  text-align: center;
}

h1,
h2,
h3,
h4 {
  font-family: $font-secondary;
  font-weight: normal;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 48px;
  margin: 32px 0;
}

h3 {
  font-size: 36px;
  margin: 24px 0;
}

h4 {
  font-size: 32px;
  margin: 16px 0;
}

/* Element styles */

@media screen and (prefers-reduced-motion: no-preference) {
  a {
    transition: letter-spacing ease-in-out 200ms;

    &:hover {
      letter-spacing: 4px;
    }
  }
}

a,
button {
  color: theme.$fg;
  font-family: $font-primary;
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
}

button {
  height: 48px;
  min-width: 384px;
  border-radius: 32px;
  padding: 0 24px;

  background-color: rgba(theme.$fg, 5%);
  color: theme.$fg;
  border: solid 2px rgba(theme.$fg, 10%);
  text-align: center;

  cursor: pointer;

  transition: border ease-in-out 75ms;

  &:hover {
    background-color: rgba(theme.$fg, 10%);
    border-color: rgba(theme.$fg, 20%);
  }

  &:active {
    background-color: rgba(theme.$fg, 8%);
    border-color: transparent;
  }

  &.primary {
    height: 64px;
    border-radius: 64px;
    padding: 0 48px;

    background-image: linear-gradient(
      to right,
      theme.$blue,
      theme.$purple 33.3%,
      theme.$dark-purple 66.6% 100%
    );
    background-size: 300% 100%;
    border: none;
    font-family: $font-secondary;
    font-size: 32px;
    text-transform: uppercase;

    transition: background-position ease-in-out 300ms;

    &:hover {
      background-position: 50% 50%;
    }

    &:active {
      background-position: 100% 50%;
      transition: background-position ease-out 75ms;
    }
  }
}

.frame {
  border-radius: 64px;
  padding: 32px;

  background-color: rgba(theme.$bg, 15%);
  box-shadow: inset 8px -8px 32px rgba(theme.$fg, 10%);
  border: solid 2px rgba(theme.$fg, 10%);
  backdrop-filter: blur(2px);
}

table {
  table-layout: fixed;
  margin: 0 auto;

  td {
    text-align: center;
    padding: 4px 16px;
  }

  thead {
    td {
      font-weight: 600;
    }
  }
}
