---
import { fetchApi } from "../../lib/api";

let data;
try {
  data = (await fetchApi("contact-info", {})).data;
} catch {
  data = {};
}

const { phone } = data;
---

<section>
  <h2>Погрузись в мир безудержного веселья</h2>
  {
    phone && (
      <a href={`tel:${phone}`}>
    <button class="primary">Забронировать сейчас</button>
  </a>
    )
  }
</section>

<style lang="scss">
  @use "../../styles/theme";

  section {
    width: 100%;
    max-width: 1100px;
    padding: 48px 96px;
    margin: 0 auto;
    margin-top: 96px;

    background-image: radial-gradient(rgba(theme.$accent, 60%), transparent);
    background-position: center;
    background-size: 125% 125%;
    background-repeat: no-repeat;
    border-radius: 64px;
  }

  button {
    display: block;
    margin: 0 auto;
  }
</style>
