---
import { fetchApi } from "../../lib/api";

let data;
try {
  data = (await fetchApi("contact-info", {})).data;
} catch {
  data = {};
}

const { phone } = data;

const { text, action } = Astro.props;
---

<section>
  <div class="container">
    <h2>{text}</h2>
    {
      phone && (
        <a href={`tel:${phone}`}>
          <button class="primary">{action}</button>
        </a>
      )
    }
  </div>
</section>

<style lang="scss">
  @use "../../styles/theme";
  @use "../../styles/wrap";
  @use "../../styles/responsive";

  section {
    margin-top: 64px;
  }

  .container {
    box-sizing: border-box;

    background-image: radial-gradient(rgba(theme.$accent, 60%), transparent);
    background-position: center;
    background-size: 125% 125%;
    background-repeat: no-repeat;
    border-radius: 32px;

    @include responsive.xs() {
      padding: 32px;
    }

    @include responsive.s() {
      padding: 38px 48px;
    }

    @include responsive.m() {
      padding: 42px 64px;
    }

    @include responsive.l() {
      padding: 48px 96px;
    }
  }

  h2 {
    @include wrap.wrap;

    margin-top: 0;

    @include responsive.xs() {
      font-size: 32px;
    }

    @include responsive.s() {
      font-size: 38px;
    }

    @include responsive.m() {
      font-size: 42px;
    }

    @include responsive.l() {
      font-size: 48px;
    }
  }

  button {
    display: block;
    margin: 0 auto;
  }
</style>
