---
import { fetchApi } from "../../lib/api";

let data;
try {
  data = (await fetchApi("contact-info", {})).data;
} catch {
  data = {};
}

const { phone } = data;

const { text, action } = Astro.props;
---

<section>
  <h2>{text}</h2>
  {
    phone && (
      <a href={`tel:${phone}`}>
        <button class="primary">{action}</button>
      </a>
    )
  }
</section>

<style lang="scss">
  @use "../../styles/theme";

  section {
    margin-top: 64px;
    padding: 48px 96px;
    box-sizing: border-box;

    background-image: radial-gradient(rgba(theme.$accent, 60%), transparent);
    background-position: center;
    background-size: 125% 125%;
    background-repeat: no-repeat;
    border-radius: 32px;
  }

  h2 {
    margin-top: 0;
  }

  button {
    display: block;
    margin: 0 auto;
  }
</style>
