---
import Phone from "../Phone.astro";
import { fetchApi } from "../../lib/api";
import Socials from "../Socials.astro";

let data;
try {
  data = (await fetchApi("contact-info", {})).data;
} catch {
  data = {};
}

const { address = "", schedule = "" } = data;

const title = "VR Арена Квантум";
---

<footer class="frame">
  <address>
    <div>
      <span style="float: right;">{schedule}</span>
      <span style="white-space: pre;">{address}</span>
    </div>
    <div>
      <Phone />
      <span style="float: right;"><Socials height="48" /></span>
    </div>
  </address>

  <hr />

  <span>&copy; {title}, {new Date().getFullYear()}</span>
  <a href="/policy.txt" style="float: right;">Политика конфиденциальности</a>
</footer>

<style lang="scss">
  footer {
    max-width: 1100px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 128px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  address {
    font-style: normal;

    div {
      margin-bottom: 24px;
    }
  }

  hr {
    margin: 64px 0;
  }
</style>
