---
import { getAll } from "../../lib/api";

const games = getAll("games", {
  populate: "*",
});
---

<section>
  <a id="games"></a>
  <h2>Игры</h2>

  <div class="grid" data-games-grid>
    {
      await Array.fromAsync(games, (game: any) => (
        <div class="frame">
          {game.image && (
            <img
              src={new URL(game.image.url, import.meta.env.STRAPI_URL).href}
            />
          )}
          <h3>{game.name}</h3>
          <p>{game.description}</p>
        </div>
      ))
    }
  </div>
</section>

<style lang="scss">
  @use "../../styles/theme";
  @use "../../styles/wrap";

  .frame {
    display: grid;
    grid-row: span 3;

    &.expanded {
      grid-template-rows: auto 1fr;
      grid-template-columns: auto 1fr;
      grid-column: 1 / -1;
      gap: 16px 48px;

      img {
        grid-row: span 2;
        max-height: 192px;
      }
    }

    &:not(.expanded) {
      grid-template-rows: subgrid;

      p {
        display: none;
      }

      h3 {
        margin-top: 16px;
        align-self: center;
      }
    }

    &:not(:has(img)) {
      h3 {
        grid-row: span 2;
      }
    }

    &:hover {
      background-color: rgba(theme.$pink, 25%);
    }
  }

  img {
    aspect-ratio: 2 / 1;
    width: 100%;
    object-fit: cover;

    border-radius: 16px;
  }

  h3,
  p {
    @include wrap.wrap;

    margin: 0;
    padding: 0 8px;
  }
</style>

<script>
  import { gsap } from "gsap";
  import { Flip } from "gsap/Flip";
  gsap.registerPlugin(Flip);

  const grid = document.querySelector("[data-games-grid]")!;
  for (const card of grid.children)
    card.addEventListener("click", () => {
      const state = Flip.getState(grid.children);

      const current = grid.querySelector(".expanded");
      if (current && current !== card) current.classList.remove("expanded");
      card.classList.toggle("expanded");

      Flip.from(state, {
        duration: 0.5,
        ease: "power1.inOut",
      });
    });
</script>
