---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import Phone from "../Phone.astro";
import logo from "../../assets/logo.png";
import Socials from "../Socials.astro";
---

<div class="container">
  <header>
    <a class="logo" href="#hero">
      <Image
        src={logo}
        height="24"
        alt="Арена Квантум"
        title="Арена Квантум"
        draggable="false"
      />
    </a>

    <nav>
      <ul>
        <li><a href="#bundles">Пакеты</a></li>
        <li><a href="#tariffs">Тарифы</a></li>
        <li><a href="#games">Игры</a></li>
        <li><a href="#videos">Видео</a></li>
      </ul>
    </nav>

    <div class="right">
      <Phone class="phone" />
      <Phone class="phone-icon" iconified={true} />
      <Socials class="socials" />
      <button popovertarget="side-menu">
        <Icon name="menu" class="menu-icon" />
      </button>
    </div>
  </header>
</div>

<style lang="scss">
  @use "../../styles/theme";
  @use "../../styles/responsive";

  .container {
    position: fixed;
    top: 0;
    z-index: 1;

    width: 100%;
    height: 64px;
    margin-bottom: -64px;

    background-color: rgba(theme.$bg, 80%);
    backdrop-filter: blur(4px);
  }

  header,
  ul,
  .right {
    display: flex;
    align-items: center;
  }

  header {
    justify-content: space-between;

    height: 100%;
  }

  .logo:hover {
    opacity: 1;
    filter: drop-shadow(0px 2px 4px rgba(theme.$pink, 80%));
  }

  nav ul {
    align-items: center;
    gap: 32px;
    padding: 0;
    margin: 0;

    list-style-type: none;
  }

  .socials,
  .right {
    height: 24px;
    gap: 24px;
  }

  [data-icon] {
    width: 24px;
    height: 24px;
  }

  nav,
  .phone {
    display: none;
  }

  @include responsive.xs() {
    .socials {
      display: none;
    }
  }

  @include responsive.m() {
    nav {
      display: inline-block;
    }

    .menu-icon {
      display: none;
    }
  }

  @include responsive.l() {
    .phone {
      display: inline-block;
    }

    .phone-icon {
      display: none;
    }
  }
</style>
