<div class="container">
  <section>
    <a id="hero"></a>
    <h1>Арена Квантум &mdash; лучший VR-отдых <nobr>в Екатеринбурге</nobr></h1>
    <p class="subtitle">
      Полное погружение, топовое оборудование, приятная атмосфера
    </p>
    <a href="#tariffs"><button class="primary">В новый мир</button></a>
  </section>
</div>

<style lang="scss">
  @use "../../styles/theme";
  @use "../../styles/responsive";

  .container {
    background-image:
      url(/hero.png), radial-gradient(rgba(theme.$accent, 60%), transparent);
    background-position:
      calc(50% + var(--hero-offset)) bottom,
      5% 55%;
    background-size:
      auto 75%,
      150% 125%;
    background-repeat: no-repeat;

    @include responsive.responsive(--hero-offset, 64px, 128px, 256px, 384px);
  }

  section {
    margin-top: 0;
    padding: 64px 0;
  }

  h1,
  .subtitle {
    max-width: 60%;
  }

  h1 {
    margin: 96px 0 16px 0;
  }

  .subtitle {
    margin: 16px 0;

    @include responsive.responsive(font-size, 12px, 16px, 24px, 32px);
    color: theme.$secondary-fg;
  }

  button {
    margin-top: 48px;
  }
</style>
