<div class="container">
  <section id="hero">
    <h1>Арена Квантум &mdash; лучший VR-отдых <nobr>в Екатеринбурге</nobr></h1>
    <p class="subtitle">
      Полное погружение, топовое оборудование, приятная атмосфера
    </p>
    <a href="#tariffs"><button class="primary">В новый мир</button></a>
  </section>
</div>

<style lang="scss">
  @use "../../styles/theme";

  .container {
    background-image:
      url(/hero.png), radial-gradient(rgba(theme.$accent, 60%), transparent);
    background-position:
      calc(50% + 384px) bottom,
      5% 55%;
    background-size:
      auto 512px,
      150% 125%;
    background-repeat: no-repeat;
  }

  section {
    margin-top: 0;
    padding: 64px 0;
  }

  h1,
  .subtitle {
    max-width: 60%;
  }

  h1 {
    margin: 96px 0 16px 0;
  }

  .subtitle {
    margin: 16px 0;

    font-size: 32px;
    color: theme.$secondary-fg;
  }

  button {
    margin-top: 48px;
  }
</style>
