<div class="container">
  <section>
    <a id="hero"></a>
    <h1>
      Арена Квантум &mdash; <br /> лучший VR-отдых <br /> в Екатеринбурге
    </h1>
    <p class="subtitle">
      Полное погружение, <br /> топовое оборудование, <br /> приятная атмосфера
    </p>
    <a href="#tariffs"><button class="primary">В новый мир</button></a>
  </section>
</div>

<style lang="scss">
  @use "../../styles/theme";
  @use "../../styles/responsive";

  .container {
    background-image:
      url(/hero.png), radial-gradient(rgba(theme.$accent, 60%), transparent);
    background-position:
      calc(50% + var(--hero-offset)) bottom,
      5% 55%;
    background-size:
      var(--hero-width, auto) var(--hero-height, 80%),
      150% 125%;
    background-repeat: no-repeat;

    @include responsive.xs() {
      --hero-offset: 40% !important;
      --hero-width: 70%;
      --hero-height: auto;
      padding-bottom: 42vw;
      margin-bottom: 160px;
    }

    @include responsive.s() {
      --hero-offset: 288px;
    }

    @include responsive.m() {
      --hero-offset: 288px;
    }

    @include responsive.l() {
      --hero-offset: 384px;
    }
  }

  section {
    margin-top: 0;
    padding-top: 64px;
    padding-bottom: 64px;
  }

  h1,
  .subtitle {
    @include responsive.xs() {
      text-align: center;
    }
  }

  h1 {
    margin: 1.5em 0 0.25em 0;
  }

  .subtitle {
    margin: 16px 0;
    color: theme.$secondary-fg;

    @include responsive.xs() {
      font-size: 20px;
    }

    @include responsive.s() {
      font-size: 24px;
    }

    @include responsive.m() {
      font-size: 28px;
    }

    @include responsive.l() {
      font-size: 32px;
    }
  }

  button {
    @include responsive.xs() {
      position: absolute;
      bottom: calc(-42vw - 16px);
      left: 50%;

      transform: translate(-50%, 100%);

      margin-top: 12px;
    }

    @include responsive.s() {
      margin-top: 24px;
    }

    @include responsive.m() {
      margin-top: 36px;
    }

    @include responsive.l() {
      margin-top: 48px;
    }
  }
</style>
