---
import { fetchApi } from "../../lib/api";

const {
  data: { gallery },
} = await fetchApi("service", {
  populate: "*",
});
---

<section>
  <ul id="services" class="frame">
    <li>Дни Рождения</li>
    <li>Праздники</li>
    <li>Корпоративы</li>
    <li>Тимбилдинг</li>
  </ul>

  <div id="gallery">
    {
      gallery.map((photo: any) => (
        <img src={new URL(photo.url, import.meta.env.STRAPI_URL).href} />
      ))
    }
  </div>
</section>

<style lang="scss">
  @use "../../styles/theme";

  section {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 96px;
  }

  #services {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 64px;

    height: 64px;
    box-sizing: border-box;
    margin: 0;
    margin-bottom: 32px;
    padding: 0 32px;
    list-style-type: none;
  }

  #gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;

    img {
      height: 384px;
      border-radius: 64px;
    }

    &.collapsed {
      mask: linear-gradient(
          to bottom,
          black,
          black calc(100% - 128px),
          #fff6 calc(100% - 96px),
          #fff2 calc(100% - 64px),
          transparent calc(100% - 32px)
        )
        100% 100% / 100% 100%;
    }
  }

  #gallery-more {
    display: block;
    margin: 0 auto;
  }
</style>
