---
import { fetchApi } from "../../lib/api";

let data;
try {
  data = (
    await fetchApi("service", {
      populate: "*",
    })
  ).data;
} catch {
  data = [];
}

const { gallery = [] } = data;
---

<section>
  <ul id="services" class="frame">
    <li>Дни Рождения</li>
    <li>Праздники</li>
    <li>Корпоративы</li>
    <li>Тимбилдинг</li>
  </ul>

  <div id="gallery">
    {
      gallery.map((photo: any) => (
        <img src={new URL(photo.url, import.meta.env.STRAPI_URL).href} />
      ))
    }
  </div>
</section>

<style lang="scss">
  @use "../../styles/theme";

  #services {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 64px;

    height: 64px;
    box-sizing: border-box;
    margin: 0;
    margin-bottom: 32px;
    padding: 0 32px;
    border-radius: 64px;
    list-style-type: none;
  }

  #gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;

    img {
      height: 384px;
      border-radius: 16px;
    }
  }

  #gallery-more {
    display: block;
    margin: 0 auto;
  }
</style>
