---
import { fetchApi } from "../../lib/api";

let data;
try {
  data = (
    await fetchApi("service", {
      populate: "*",
    })
  ).data;
} catch {
  data = [];
}

const { gallery = [] } = data;
---

<section>
  <h2>
    Мы проводим
    <ul>
      <li>Дни Рождения</li>
      <li>Праздники</li>
      <li>Корпоративы</li>
      <li>Тимбилдинг</li>
    </ul>
  </h2>

  <div class="gallery">
    {
      gallery.map((photo: any) => (
        <img src={new URL(photo.url, import.meta.env.STRAPI_URL).href} />
      ))
    }
  </div>
</section>

<style lang="scss">
  @use "../../styles/theme";

  ul {
    display: inline-grid;

    margin: 0;
    padding: 0;

    text-align: left;

    list-style-type: none;
  }

  li {
    color: transparent;
    background-image: linear-gradient(to right, theme.$pink, theme.$blue);
    background-clip: text;

    grid-row: 1;
    grid-column: 1;
  }

  $itemCount: 4;

  @for $i from 1 through $itemCount {
    li:nth-child(#{$i}) {
      animation: slide-in-out
        (3s * $itemCount)
        ease-in-out
        (3s * ($i - 1))
        infinite
        both;
    }
  }

  @keyframes slide-in-out {
    0% {
      translate: 0 -50%;
      opacity: 0;
    }

    #{calc(10 / $itemCount)}% {
      translate: 0;
      opacity: 1;
    }

    #{calc(90 / $itemCount)}% {
      translate: 0;
      opacity: 1;
    }

    #{calc(100 / $itemCount)}% {
      translate: 0 50%;
      opacity: 0;
    }

    100% {
      translate: 0 50%;
      opacity: 0;
    }
  }

  .gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;

    img {
      height: 384px;
      border-radius: 16px;
    }
  }
</style>
