---
import { fetchApi } from "../../lib/api";

let data;
try {
  data = (await fetchApi("promotion", {})).data;
} catch {
  data = {};
}

const { title = "", description = "", active = false } = data;
---

{
  active && (
    <section>
      <h2>Акция</h2>
      <h3>{title}</h3>
      <p>{description}</p>
    </section>
  )
}

<style lang="scss">
  @use "../../styles/theme";

  section {
    width: min-content;
    min-width: 640px;
    padding: 48px 96px;
    margin: 0 auto;
    margin-top: 128px;
    box-sizing: border-box;

    background-image: radial-gradient(rgba(theme.$accent, 60%), transparent);
    background-position: 5% 55%;
    background-size: 400% 400%;
    background-repeat: no-repeat;
    border-radius: 64px;
  }

  h2,
  h3 {
    margin: 0;
    margin-bottom: 8px;
    text-align: left;
  }

  p {
    margin: 8px 0;
    color: theme.$secondary-fg;
  }
</style>
