---
import { fetchApi } from "../../lib/api";

let data;
try {
  data = (await fetchApi("promotion", {})).data;
} catch {
  data = {};
}

const { title = "", description = "", active = false } = data;
---

{
  active && (
    <section>
      <h2>Акция</h2>
      <div class="container">
        <h3>{title}</h3>
        <p>{description}</p>
      </div>
    </section>
  )
}

<style lang="scss">
  @use "../../styles/theme";
  @use "../../styles/wrap";

  .container {
    width: 640px;
    min-width: min-content;
    max-width: 100%;
    padding: 32px 64px;
    margin: 0 auto;
    box-sizing: border-box;

    background-image: radial-gradient(rgba(theme.$accent, 60%), transparent);
    background-position: 5% 55%;
    background-size: 400% 400%;
    background-repeat: no-repeat;
    border-radius: 32px;
  }

  h3 {
    @include wrap.wrap;

    margin: 0;
    margin-bottom: 8px;
    text-align: left;
  }

  p {
    @include wrap.wrap;

    margin: 8px 0;
    color: theme.$secondary-fg;
  }
</style>
