---
import { getAll } from "../../lib/api";
import { currencyFormat, longDurationFormat } from "../../lib/format";

// TODO: switch to single types to maintain order
const tariffCategories = getAll("tariff-categories", {
  populate: {
    tariffs: {
      populate: "*",
    },
  },
});
---

<section>
  <a id="tariffs"></a>
  <h2>Тарифы</h2>

  <div class="container">
    {
      await Array.fromAsync(tariffCategories, (category: any) => (
        <div class="category">
          <div>
            <h3>{category.name}</h3>
          </div>
          <div class="category-content">
            {category.tariffs.map((tariff: any) => (
              <div class="frame">
                <h4>{tariff.name}</h4>
                <table>
                  <thead>
                    <tr>
                      <td>Длительность</td> <td>Будни</td> <td>Выходные</td>
                    </tr>
                  </thead>
                  <tbody>
                    {tariff.rows.map((row: any) => (
                      <tr>
                        <td>
                          {longDurationFormat.format({
                            hours: Math.floor(row.durationMinutes / 60),
                            minutes: row.durationMinutes % 60,
                          })}
                        </td>
                        <td>{currencyFormat.format(row.weekdayPrice)}</td>
                        <td>{currencyFormat.format(row.weekendPrice)}</td>
                      </tr>
                    ))}
                  </tbody>
                </table>
              </div>
            ))}
          </div>
        </div>
      ))
    }
  </div>
</section>

<style lang="scss">
  @use "../../styles/responsive";

  .container {
    display: grid;
    gap: 48px 96px;

    @include responsive.l() {
      grid-template-columns: auto 1fr;
    }
  }

  .category {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
  }

  h3 {
    position: sticky;
    top: 96px;
  }

  .category-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .frame {
    display: flex;
    flex-direction: column;

    @include responsive.xs() {
      padding: 24px 8px;
    }

    @include responsive.m() {
      flex-direction: row;
    }
  }

  h4 {
    flex: auto;
    margin-top: 0;

    text-align: center;

    @include responsive.m() {
      margin: 0;

      text-align: left;
    }
  }

  table {
    height: fit-content;

    td {
      padding: 8px 32px;

      @include responsive.xs() {
        hyphens: auto;

        padding: 4px;
      }
    }
  }
</style>
