---
import { getAll } from "../../lib/api";
import { currencyFormat, longDurationFormat } from "../../lib/format";

const tariffCategories = getAll("tariff-categories", {
  populate: {
    tariffs: {
      populate: "*",
    },
  },
  });
---

<section id="tariffs">
  <h2>Тарифы</h2>

  {
    await Array.fromAsync(tariffCategories, (category: any) => (
      <div class="category">
        <h3>{category.name}</h3>

        {category.tariffs.map((tariff: any) => (
          <div class="frame">
            <h4>{tariff.name}</h4>
            <table>
              <thead>
                <tr>
                  <td>Длительность</td> <td>Будни</td> <td>Выходные</td>
                </tr>
              </thead>
              <tbody>
                {tariff.rows.map((row: any) => (
                  <tr>
                    <td>
                      {longDurationFormat.format({
                        hours: Math.floor(row.durationMinutes / 60),
                        minutes: row.durationMinutes % 60,
                      })}
                    </td>
                    <td>{currencyFormat.format(row.weekdayPrice)}</td>
                    <td>{currencyFormat.format(row.weekendPrice)}</td>
                  </tr>
                ))}
              </tbody>
            </table>
          </div>
        ))}
      </div>
    ))
  }
</section>

<style lang="scss">
  .category {
    margin-bottom: 48px;
  }

  .frame {
    display: grid;
    grid-template-columns: 1fr max-content;

    min-height: 128px;
    margin: 24px 0;
    padding: 32px 64px;
  }

  h4 {
    margin: 0;
  }

  table {
    height: fit-content;

    td {
      padding: 8px 32px;
    }
  }
</style>
