---
import { getAll } from "../../lib/api";
import { currencyFormat, longDurationFormat } from "../../lib/format";

// TODO: switch to single types to maintain order
const tariffCategories = getAll("tariff-categories", {
  populate: {
    tariffs: {
      populate: "*",
    },
  },
});
---

<section id="tariffs">
  <h2>Тарифы</h2>

  <div class="container">
    {
      await Array.fromAsync(tariffCategories, (category: any) => (
        <>
          <div>
            <h3>{category.name}</h3>
          </div>
          <div>
            {category.tariffs.map((tariff: any) => (
              <div class="frame">
                <h4>{tariff.name}</h4>
                <table>
                  <thead>
                    <tr>
                      <td>Длительность</td> <td>Будни</td> <td>Выходные</td>
                    </tr>
                  </thead>
                  <tbody>
                    {tariff.rows.map((row: any) => (
                      <tr>
                        <td>
                          {longDurationFormat.format({
                            hours: Math.floor(row.durationMinutes / 60),
                            minutes: row.durationMinutes % 60,
                          })}
                        </td>
                        <td>{currencyFormat.format(row.weekdayPrice)}</td>
                        <td>{currencyFormat.format(row.weekendPrice)}</td>
                      </tr>
                    ))}
                  </tbody>
                </table>
              </div>
            ))}
          </div>
        </>
      ))
    }
  </div>
</section>

<style lang="scss">
  .container {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 48px 96px;
  }

  h3 {
    position: sticky;
    top: 96px;
  }

  .frame {
    display: grid;
    grid-template-columns: 1fr max-content;

    margin: 24px 0;
  }

  h4 {
    margin: 0;
  }

  table {
    height: fit-content;

    td {
      padding: 8px 32px;
    }
  }
</style>
