---
import { getAll } from "../../lib/api";
import { digitalSecondsDurationFormat } from "../../lib/format";

const videoCategories = await getAll("video-categories", {
  populate: {
    videos: {
      populate: "*",
    },
  },
});
---

<section>
  <a id="videos"></a>
  <h2>Видео 360&deg;</h2>

  {
    await Array.fromAsync(videoCategories, (category: any) => (
      <div class="category">
        <h3>{category.name}</h3>

        <div class="grid">
          {category.videos.map((video: any) => (
            <div class="frame">
              {video.preview != null ? (
                <img
                  src={
                    new URL(video.preview.url, import.meta.env.STRAPI_URL).href
                  }
                />
              ) : (
                <div />
              )}
              <h4>{video.title}</h4>
              <p>
                <span class="duration">
                  {digitalSecondsDurationFormat.format({
                    minutes: Math.floor(video.durationSeconds / 60),
                    seconds: video.durationSeconds % 60,
                  })}
                </span>
                {video.description}
              </p>
            </div>
          ))}
        </div>
      </div>
    ))
  }
</section>

<style lang="scss">
  @use "../../styles/theme";
  @use "../../styles/wrap";

  .category {
    margin-bottom: 48px;
  }

  .frame {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-row: span 3;
  }

  img {
    aspect-ratio: 3 / 2;
    width: 100%;
    object-fit: cover;
    margin-bottom: 16px;
    border-radius: 16px;
  }

  h4,
  p {
    @include wrap.wrap;
  }

  h4 {
    margin: 0;
  }

  .duration {
    color: theme.$secondary-fg;
    float: right;
    margin-left: 12px;
    margin-bottom: 12px;
  }

  p {
    margin-top: 16px;
    margin-bottom: 0;
  }
</style>
