<section>
  <h2>Пакеты</h2>

  <div class="container">
    <div class="frame">
      <h3>Пакет S</h3>

      <div>
        <p><b>1:45</b> общего времени</p>
        <p>до <b>10</b> человек</p>
        <ul>
          <li>Два часа игры на арене (8 человек)</li>
          <li>Две Sony PS4</li>
          <li>45 минут лаунж зона</li>
        </ul>
      </div>

      <table>
        <thead>
          <tr>
            <td>Будни</td>
            <td>Выходные</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>9 000 &#8381;</td>
            <td>11 000 &#8381;</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="frame">
      <h3>Пакет M</h3>

      <div>
        <p><b>2:45</b> общего времени</p>
        <p>до <b>16</b> человек</p>
        <ul>
          <li>Два часа игры на арене (8 человек)</li>
          <li>Две Sony PS4</li>
          <li>45 минут лаунж зона</li>
        </ul>
      </div>

      <table>
        <thead>
          <tr>
            <td>Будни</td>
            <td>Выходные</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>16 000 &#8381;</td>
            <td>18 000 &#8381;</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="frame">
      <h3>Пакет L</h3>

      <div>
        <p><b>2:45</b> общего времени</p>
        <p>до <b>16</b> человек</p>
        <ul>
          <li>Два часа игры на арене (8 человек)</li>
          <li>Две Sony PS4</li>
          <li>Два часа VR зона</li>
          <li>45 минут лаунж зона</li>
        </ul>
      </div>

      <table>
        <thead>
          <tr>
            <td>Будни</td>
            <td>Выходные</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>20 000 &#8381;</td>
            <td>22 000 &#8381;</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

<style lang="scss">
  section {
    margin-top: 64px;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 32px;

    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
  }

  .frame {
    display: flex;
    flex-direction: column;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 24px;
  }

  p {
    margin: 4px 0;

    &:first-child {
      margin-top: 0;
    }
  }

  ul {
    margin: 16px 0;
    margin-bottom: 24px;

    li {
      margin: 8px 0;
    }
  }

  table {
    margin-top: auto;
  }
</style>
