---
import { Icon } from "astro-icon/components";
import { fetchApi } from "../lib/api";
import { formatPhone } from "../lib/format";

let data;
try {
  data = (await fetchApi("contact-info", {})).data;
} catch {
  data = {};
}

const { phone } = data;

const { iconified = false, class: className, ...rest } = Astro.props;
---

{
  phone && (
    <a href={`tel:${phone}`} class={className} {...rest}>
      {iconified ? <Icon name="phone" {...rest} /> : formatPhone(phone)}
    </a>
  )
}
