---
import { fetchApi } from "../lib/api";

let data;
try {
  data = (
    await fetchApi("contact-info", {
      populate: { socialMedia: { populate: "*" } },
    })
  ).data;
} catch {
  data = {};
}

const { socialMedia = [] } = data;
---

<ul {...Astro.props}>
  {
    socialMedia.map((social: any) => (
      <li>
        <a href={social.link}>
          <img
            src={new URL(social.icon.url, import.meta.env.STRAPI_URL).href}
            title={social.title}
          />
        </a>
      </li>
    ))
  }
</ul>

<style lang="scss">
  ul {
    display: inline-flex;
    justify-content: space-between;

    padding: 0;
    margin: 0;

    list-style-type: none;
  }

  img {
    height: 100%;
  }
</style>
